{{ block "index" . }}
<!doctype html>
<header>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/index.css">
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
</header>
<body>
	{{ template "form" . }}
	<hr>

	<div id="items-list">
		{{ template "items-list" . }}
	</div>
</body>
{{ end }}

{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/buy_items" id="create-form">
	<span>
		<label>Nome: </label>
		<input name="name" id="name" type="text">
	</span>
	<span>
		<label>Quantidade atual: </label>
		<input name="current_quantity" id="current_quantity" type="number">
	</span>
	<span>
		<label>Quantidade mínima: </label>
		<input name="min_quantity" id="min_quantity" type="number">
	</span>
	<span>
		<label>Enviar para o e-mail: </label>
		<input name="send_email" id="send_email" type="checkbox">
	</span>
	<input type="submit" value="Submit">
</form>
{{ end }}

{{ block "items-list" . }}
<div id="buy-items-list">
	{{ template "buy-items-list" . }}
</div>
{{ end }}
