{{ block "buy-items-list" . }}
<div id="buy-item">
	{{range .BuyItems }}
	{{ template "buy-item" . }}
	{{end}}
</div>
{{ end }}

{{ block "buy-item" . }}
<div>
	<form hx-put="/buy_items/{{ .ID }}">
		[{{ .ID }}]{{ .Name }}
		<div class="input-group mb-3">
			<input class="form-control"
			name="name" type="text"
			value="{{ .Name }}">
		</div>
		<div class="input-group mb-3">
			<input class="form-control"
			name="current_quantity"
			type="number"
			value="{{.CurrentQuantity}}">
		</div>
		<div class="input-group mb-3">
			<input name="min_quantity"
			value="{{.MinQuantity}}">
		</div>
		Send E-mail
		<input name="send_email"
			type="checkbox"
			{{ if .SendEmail }} checked {{ end }}>
		<input type="submit" value="Submit">
	</form>
</div>
{{ end }}

{{ block "oob-buy-item" . }}
<div id="buy-item" hx-swap-oob="afterend">
	{{ template "buy-item" . }}
</div>
{{ end }}

{{ block "error-buy-item" . }}
<div style="color: red;">Algo de certo não está errado...</div>
{{ end }}
