{{ block "buy-items-list" . }}
<div id="buy-item">
	{{range .BuyItems }}
	{{ template "buy-item" . }}
	{{end}}
</div>
{{ end }}

{{ block "buy-item" . }}
<div>
	<form hx-put="/buy_items/{{ .ID }}">
		<div style="display: flex;">
			<input name="send_email"
				type="checkbox"
				{{ if .SendEmail }} checked {{ end }}>

				[{{ .ID }}] {{ .Name }} {{.CurrentQuantity}}/{{.MinQuantity}} [{{.SendEmail}}]
			<input type="submit" value="Submit">
		</div>
	</form>
</div>
{{ end }}

{{ block "oob-buy-item" . }}
<div id="buy-item" hx-swap-oob="afterend">
	{{ template "buy-item" . }}
</div>
{{ end }}

{{ block "error-buy-item" . }}
<div style="color: red;">Algo de certo não está errado...</div>
{{ end }}
