{{ block "buy_list" . }}
<!doctype html>
{{ template "style" . }}
<body>
	<button
		hx-target="#modal-create-to-buy-list"
		hx-trigger="click"
		hx-get="/modals/create-to-buy-list"
		data-bs-toggle="modal"
		data-bs-target="#modal-create-to-buy-list"
		class="btn btn-primary">Create a buy list</button>

	<div class="modal" tabindex="-1" id="modal-create-to-buy-list">
		{{ template "modal-create-to-buy-list" . }}
	</div>
	<div class="modal" tabindex="-1" id="modal-success-create">
		{{ template "modal-success-create" . }}
	</div>
	<ul id="buy-list">
		{{ template "buy-list" . }}
	</ul>
</body>
{{ end }}

{{ block "buy-list" . }}
	{{ $userId := .UserId }}
	{{ range $buyList := .BuyListArr }}
	<div id="buy-list-{{ $buyList.ID }}">
		<li>
			<a href="/buy-list/{{ $buyList.ID }}"> {{ $buyList.Name }}</a>
			<!--- TODO(luan): Move to a modal --->
			{{ if eq $userId $buyList.OwnerUserID }}
			<button
				class="btn btn-danger"
				hx-delete="/buy_list/{{ $buyList.ID }}"
				hx-target="#buy-list-{{ $buyList.ID }}">
				Delete
			</button>
			{{ end }}
		</li>
	</div>
	{{ end }}
{{ end }}
