{{ block "buy-items-page" . }}
<!doctype html>
{{ template "style" . }}
<body>
	{{ template "buy-items-list" . }}
</body>
{{ end }}

{{ block "buy-items-list" . }}
<button
    hx-target="#modal-add-user"
    hx-trigger="click"
    hx-get="/modals/add-user?ListId={{ .ListId }}"
    data-bs-toggle="modal"
    data-bs-target="#modal-add-user"
    class="btn btn-primary">Add user</button>

<div class="modal" tabindex="-1" id="modal-add-user">
	{{ template "modal-add-user" . }}
</div>
{{ template "form" . }}
<hr>
<div id="buy-item">
	{{range .Items }}
	{{ template "buy-item" . }}
	{{end}}
</div>
{{ end }}

{{ block "buy-item" . }}
<div class="card text-start mx-auto mb-4" style="max-width: 35%;" id="card-{{ .ID }}">
	<form class="card-body">
		[{{ .ID }}]
		<div class="form-floating mb-3">
			<input
			id="name-{{ .ID }}"
			class="form-control"
			name="name"
			type="text"
			value="{{ .Name }}">
			<label for="name-{{ .ID }}" > Name </label>
		</div>
		<div class="form-floating mb-3">
			<input
			id="current-quantity-{{ .ID }}"
			class="form-control"
			name="current_quantity"
			type="number"
			value="{{ .CurrentQuantity }}">
			<label for="current-quantity-{{ .ID }}"> Current quantity </label>
		</div>
		<div class="form-floating mb-3">
			<input
			id="min-quantity-{{ .ID }}"
			class="form-control"
			name="min_quantity"
			type="number"
			value="{{.MinQuantity}}">
			<label for="min-quantity-{{ .ID }}" > Min Quantity </label>
		</div>
		<div class="position-relative mx-auto mb-1">
			Send E-mail
			<input name="send_email"
				type="checkbox"
				{{ if .SendEmail }} checked {{ end }}>
		</div>
		<input
			hx-put="/buy_items/{{ .ID }}"
			hx-target="#card-{{ .ID }}"
			hx-swap="outerHTML"
			hx-trigger="click"
			class="btn btn-primary"
			type="submit"
			value="Update">
		<input
			hx-delete="/buy_items/{{ .ID }}"
			hx-target="#card-{{ .ID }}"
			hx-swap="outerHTML"
			hx-trigger="click"
			class="btn btn-danger"
			type="submit"
			value="Delete">
	</form>
</div>
{{ end }}

{{ block "oob-buy-item" . }}
<div id="buy-item" hx-swap-oob="afterbegin">
	{{ template "buy-item" . }}
</div>
{{ end }}

{{ block "error-buy-item" . }}
<div style="color: red;">Algo de certo não está errado...</div>
{{ end }}
